.row
	.col
		.item(ng-repeat='product in page')
			p {{product.screen}}
			p {{product.resolution}}
			p {{product.ports}}
			p {{product.speakers}}
.row
	.col
		p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam at perferendis, voluptates sapiente similique provident possimus saepe laudantium reiciendis atque, odio ad ipsum beatae reprehenderit corporis. Mollitia ex illo nihil.
	